/* add_expenses.css */
.form-container {
    margin: 20px auto;
    max-width: 400px;
    padding: 20px;
    background: linear-gradient(to bottom right, #cdce73, #79cefc);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.form-container h2 {
    text-align: center;
    margin-bottom: 20px;
}

.form-container form {
    display: flex;
    flex-direction: column;
}

.form-container input,
.form-container textarea,
.form-container select {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.form-container button {
    padding: 10px;
    background: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.form-container button:hover {
    background: #0056b3;
}

.form-container .btn-secondary {
    background: #f4f4f4;
    color: #333;
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;
    display: inline-block;
    text-decoration: none;
    border-radius: 5px;
}

.form-container .btn-secondary:hover {
    background: #e4e4e4;
}

.alert-success {
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1000;
    background-color: #4CAF50;
    color: white;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    animation: slide-in 0.5s ease-out, slide-out 0.5s ease-in 2.5s forwards;
}

@keyframes slide-in {
    from {
        transform: translate(-50%, -100%);
        opacity: 0;
    }
    to {
        transform: translate(-50%, 0);
        opacity: 1;
    }
}

@keyframes slide-out {
    from {
        transform: translate(-50%, 0);
        opacity: 1;
    }
    to {
        transform: translate(-50%, -100%);
        opacity: 0;
    }
}
